**/.DS_Store

nvim/.config/nvim/plugged
nvim/.config/nvim/autoload/plug.vim
nvim/.config/nvim/autoload/plug.vim.old
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/plugin/packer_compiled.lua
vifm/.vifm/vifminfo.json

gh/.config/gh/hosts.yml

mpv/.config/mpv/watch_later

w3m/.w3m/w3mtmp*
w3m/.w3m/w3mcache*
w3m/.w3m/w3msrc*
w3m/.w3m/history

karabiner/.config/karabiner/automatic_backups
karabiner/.config/karabiner/assets

elinks/.elinks/cookies
elinks/.elinks/searchhist
elinks/.elinks/gotohist
elinks/.elinks/globhist
