[user]
  name = deathmaz
  email = 00maz1987@gmail.com
[core]
  excludesfile = ~/.gitexcludes
  pager        = delta

[fetch]
  prune = true

[branch]
  autosetuprebase = always

[commit]
  template = ~/.gitmessage

[delta]
  features = side-by-side line-numbers decorations styles
  hyperlinks = true
  dark = true
  navigate = true
  ; syntax-theme = Dracula
  ; width = 250
[delta "decorations"]
  commit-decoration-style = box ul blue
  file-style = bold blue

[push]
  autoSetupRemote = true
  useForceIfIncludes = true

[rebase]
  autosquash = true
  autoStash = true

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[color "diff"]
  meta = yellow
  frag = magenta
  old = red bold
  new = green
  plain = white

[color "branch"]
  current = red reverse
  local = blue
  remote = green

[alias]
  elog = ! git log --oneline --all --color | emojify | less
  ls = log --first-parent --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%an]" --decorate --date=relative
    # list all aliases
  la = "!git config -l | grep alias | cut -c 7-"
  wdiff = diff --word-diff
  dsf = "!f() { [ \"$GIT_PREFIX\" != \"\" ] && cd "$GIT_PREFIX"; git diff --color $@ | diff-so-fancy | less --tabs=4 -RFX; }; f"
  is-update = remote -v update
  delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
  uncommit = reset --soft HEAD^
  delete-temp-branches = !git branch --list 'temp*' | xargs -r git branch -D
[init]
  defaultBranch = main
