snippet todo "This is a todo reminder" b
<!-- TODO: ${1:desc} -->
endsnippet

snippet fix "This is a fix reminder" b
<!-- FIXME: `echo $USER` ${1:desc} - `echo $(date -R)` -->
endsnippet

snippet vue "Vue template" b
<script>
export default {};
</script>

<template>
	${1}
</template>
endsnippet

snippet placehold "This is a fix reminder" b
<img src="http://placehold.it/${1:width}x${2:height}/${3:999999}" alt=""/>
endsnippet
