snippet ch "Create a checkbox" b
- [ ] ${0} [`echo $(date '+%a, %d.%m.%Y %H:%M')`]
endsnippet

snippet sec "Add an idea/todo section" b
#### ${1} [`echo $(date '+%a, %d.%m.%Y %H:%M')`]
${2}

---
endsnippet

snippet detsum "details and summary" b
<details>
  <summary>
    ${1}
  </summary>



</details>
endsnippet

snippet details "details" b
<details>

${1}

</details>
endsnippet
