snippet todo "This is a todo reminder" b
// TODO: `echo $USER` ${1:desc} - `echo $(date -R)`
endsnippet

snippet fix "This is a fix reminder" b
// FIXME: `echo $USER` ${1:desc} - `echo $(date -R)`
endsnippet

snippet class "Class snippet" b
.${1:name} {
  $2
}
endsnippet
